/* BASIC MODEL APP */
:root {
  --primary-color: hsl(0, 0%, 75%); 
  --second-color: hsl(0, 0%, 90%);  
  --third-color: hsl(41, 79%, 50%);
  --fourth-color:  hsl(220, 62%, 52%);
}


.app {
  text-align: center;
}

/* HOME */

/* src/views/MainPage.tsx */
.searchButton_home {
  background-color: var(--primary-color);
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: auto;
  transition: all 2.0s;
}

.searchButton_home:hover {
  transform: scale(2,2);
  color: rgb(255, 255, 255);
  background-color: var(--third-color);
}


/* src/components/Navbar.tsx */
.app-logo {
  height: 100px;
  margin-top: 50px;
  margin-bottom: 70px;
  cursor: pointer;
}


/* src/components/SearchBar.tsx */

.SearchBar_container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.searchbar_input {
  background-color: var(--primary-color);
  width: 400px;
  border-radius: 10px;
}


.search_button {
  background-color: var(--second-color);
  border-radius: 10px;
  padding: 10px 65px;
  cursor: pointer;
  font-size: 20px;
}

.search_button:hover {
  color: rgb(255, 255, 255);
  background-color: var(--third-color);
}