/* BASIC MODEL APP */
:root {
  --primary-color: hsl(0, 0%, 75%); /* SEARCHBAR */
  --second-color: hsl(0, 0%, 90%);  /* SEARCHBUTTON */
}


.app {
  text-align: center;
}


/* src/components/Navbar.tsx */
.app-logo {
  height: 100px;
  pointer-events: none;
  margin-top: 50px;
  margin-bottom: 70px;
  
}


/* src/components/SearchBar.tsx */

.SearchBar_container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.searchbar_input {
  background-color: var(--primary-color);
  width: 400px;
  border-radius: 10px;
}

.search_button {
  background-color: var(--second-color);
  border-radius: 10px;
  padding: 10px 65px;
  cursor: pointer;
  font-size: 20px;
}

.search_button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(229, 168, 27);
}